<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.admin.mapper.GameFaultMapper">
    <select id="hasGameFault" resultType="Integer">
        select count(*) from `game_fault` where `venue_id` = #{venueId} and `server_id` = #{serverId} and `processed` = 0
    </select>
</mapper>