<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.admin.mapper.GameLackeyMapper">
    <select id="hasNumber" resultType="Integer">
        select count(*) from `game_lackey` `t1`
        inner join `venue` `t2` on `t1`.`venue_id` = `t2`.`id`
        where `t1`.`number` = #{number} and `t2`.`status` <![CDATA[<]]> 2
    </select>

    <select id="getIdByNumber" resultType="String">
        select `t1`.`venue_id` from `game_lackey` `t1`
        inner join `venue` `t2` on `t1`.`venue_id` = `t2`.`id`
        where `t1`.`number` = #{number} and `t2`.`status` <![CDATA[<]]> 2
    </select>

    <select id="getNumber" resultType="String">
        select `number` from `game_lackey` where `venue_id` = #{venueId}
    </select>

    <select id="countRound" resultType="Integer">
        select count(*) from `game_lackey_round_player` where `player_id` = #{playerId}
    </select>

    <select id="getRoundIds" resultType="Long">
        select `round_id` from `game_lackey_round_player` where `player_id` = #{playerId}
        order by `round_id` desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="getRoundInfo" resultType="com.niuma.admin.dto.LackeyRoundDTO">
        select `t1`.`venue_id`, `t2`.`number`, `t2`.`level`, `t2`.`di_zhu`, `t1`.`bei_lv`,
            `t1`.`round_no`, `t1`.`landlord`, `t1`.`lackey`, `t1`.`time`
        from `game_lackey_round` `t1` inner join `game_lackey` `t2`
        on `t1`.`venue_id` = `t2`.`venue_id`
        where `t1`.`id` = #{roundId}
    </select>

    <select id="getRoundPlayers" resultType="com.niuma.admin.dto.LackeyRoundPlayerDTO">
        select `t1`.`player_id`, `t2`.`nickname`, `t2`.`avatar` as `headImgUrl`, `t1`.`show_card`,
            `t1`.`score`, `t1`.`xi_qian`, `t1`.`win_gold`
        from `game_lackey_round_player` `t1` inner join `player` `t2`
        on `t1`.`player_id` = `t2`.`id` where `t1`.`round_id` = #{roundId}
        order by `t1`.`seat` asc
    </select>

    <sql id="lackey_room_condition">
        <if test="venueId != null">
            and `t1`.`venue_id` like #{venueId}
        </if>
        <if test="ownerId != null">
            and `t2`.`owner_id` like #{ownerId}
        </if>
        <if test="number != null">
            and `t1`.`number` like #{number}
        </if>
        <if test="startTime != null">
            and `t2`.`create_time` <![CDATA[>]]> #{startTime}
        </if>
        <if test="endTime != null">
            and `t2`.`create_time` <![CDATA[<]]> #{endTime}
        </if>
    </sql>
    <select id="countRoom" resultType="Integer">
        select count(*) from `game_lackey` `t1`
        inner join `venue` `t2` on `t1`.`venue_id` = `t2`.`id`
        <where>
            <include refid="lackey_room_condition"/>
        </where>
    </select>

    <resultMap id="LackeyRoomMap" type="com.niuma.admin.dto.GameRoomDTO">
        <result column="venue_id" property="venueId" />
        <result column="owner_id" property="ownerId" />
        <result column="number" property="number" />
        <result column="level" property="level" />
        <result column="mode" property="mode" />
        <result column="di_zhu" property="diZhu" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <select id="getRooms" resultMap="LackeyRoomMap">
        select `t1`.`venue_id`, `t2`.`owner_id`, `t1`.`number`, `t1`.`level`, `t1`.`mode`, `t1`.`di_zhu`, `t2`.`status`, `t2`.`create_time`
        from `game_lackey` `t1` inner join `venue` `t2` on `t1`.`venue_id` = `t2`.`id`
        <where>
            <include refid="lackey_room_condition"/>
        </where>
        order by `t1`.`id` desc
        limit #{offset}, #{pageSize}
    </select>
</mapper>